 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>HI, I’m currently completing my Master of Software Development. I am seeking an internship for March 2018 as part of finishing my degree. I will then be looking for a full-time role in the mid-year. I also hold a Bachelor of Arts with a double major in political science and film</p>
                </div>
                <div class="col-lg-4">
                    <p>I have worked extensively with Java, HTML, CSS, Javascript, MySQL, WordPress and real-time cloud databases. I have also used C#, PHP, Python, Ruby, R, Weka, React, Android app development, AWS and Google Cloud Services. I have experience working in teams to develop software projects and using lean and agile development methods.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!--<a class="btn btn-lg btn-outline" href="CV-2018-web.pdf" download>-->
                        <!--<i class="fa fa-download"></i> Download my CV-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </section>