 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Currently studying a Master of Software Development in Wellington after completing a Bachelor of Arts majoring in Political Science and Film at Victoria University of Wellington. I am looking for a full-time internship beginning in March 2018 that will allow me to apply the skills I have gained from in-class learning, independent work and industry projects. I will then be seeking a full-time development role in the mid-year.</p>
                </div>
                <div class="col-lg-4">
                    <p>I have worked extensively with Java, HTML, CSS, Javascript, MySQL, WordPress and real-time cloud databases. I have also used C#, PHP, Python, Ruby, R, Weka, React, Android app development, AWS and Google Cloud Services. I have experience working in teams to develop software projects and using lean and agile development methods.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <!--<a class="btn btn-lg btn-outline" href="CV-2018-web.pdf" download>-->
                        <!--<i class="fa fa-download"></i> Download my CV-->
                    <!--</a>-->
                </div>
            </div>
        </div>
    </section>